body{
	width: 1100px;
	height: 600px;
	border: solid white 1px;
	background-image: url(../images/fon.jpg);
	background-size: contain;
}
.calc-body{
	position: relative;
	top: 50%;
	bottom: 50%;
	left: 50%;
}
.btn-1{
	width: 40px;
	height: 30px;
}